.appContentContainer {
  margin-top: 30px; }

.userAuth {
  position: absolute;
  top: 16px;
  right: 16px; }

.npcName {
  text-transform: uppercase !important;
  letter-spacing: 1px;
  margin-top: 0 !important;
  opacity: 0.8; }

.npcHeader {
  text-transform: uppercase !important;
  font-size: 11px !important;
  margin: 14px 0 !important;
  letter-spacing: 2px; }

.NPCCard {
  margin-top: 0 !important; }

.NPCCard:not(:first-of-type) {
  margin-left: 30px !important; }

.npcNameHeader {
  text-transform: capitalize; }

.npcHeader > .header {
  text-transform: capitalize; }
